{
  "localhost": {
    "REACT_APP_ENV": "localhost",
    "PORT": "__port to start app localy__"
  },
  "development": {
    "REACT_APP_ENV": "development",
    "PORT": "__port to start app localy__"
  },
  "staging": {
    "REACT_APP_ENV": "staging",
    "PORT": "__port to start app localy__"
  },
  "production": {
    "REACT_APP_ENV": "production",
    "PORT": "__port to start app localy__"
  }
}
