{
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "quoteProps": "consistent",
  "proseWrap": "always"
}
